.topic-container {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 10px;
    gap: 20px;
    margin-bottom: 100px;
}

.text {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.quiz-btn {
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: gray;
    color: white;
}

.topic-container img {
    width: 250px;
    height: 250px;
    background-color: gray;
    border-radius: 10px;
}